<div *ngIf="loading">
<div class="spinner-border text-info" role="status">
  <span class="visually-hidden">Loading...</span>
</div>
</div>

<div class="container-lg d-flex flex-wrap" *ngIf="!loading">
  <div *ngFor="let card of cards" class="card m-1" style="width: 18rem;">
    <img src="{{card.thumbnailUrl}}" class="card-img-top">
    <div class="card-body">
      <h5 class="card-title">{{card.title}}</h5>
      <button type="button" class="btn btn-danger tect-light me-2" (click)="cancellaCarta(card.id)">Elimina</button>
      <button type="button" class="btn btn-success text-light" (click)="miPiace()">Mi Piace</button>
    </div>
  </div>
</div>
